.activityCreatorForm {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: var(--clr-surface-a10);
    border-radius: 1rem;
    padding: 3rem;
    gap: 1rem;
    width: 30em;

    @media (max-width: 600px) {
        width: 20em;
    }

    .aniSubmitButton {
        margin-top: 1rem;
    }
}

