.notificationDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.notificationCard {
    margin: 1rem;
    width: 14rem;
    cursor: pointer;
    
    @media (max-width: 600px) {
        margin: 0.5rem;
        width: 8rem;
    }
}

.cardBodyDiv {
    height: 16rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 1em;

    @media (max-width: 600px) {
        height: 10rem;
        padding: 0 0.5em;
    }
}

.cardImg {
    object-fit: scale-down;
    max-height: 100%;
    max-width: 100%;
}

.cardTitle {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: 600px) {
        font-size: 0.8rem;
    }
}
