.previewSearch {
    position: relative;

    .popUp {
        position: absolute;
        top: 100%;
        z-index: 1;
        max-height: 20em;
        overflow-y: scroll;
        border-radius: 0.5em;
        width: 100%;
        margin-top: 0.4em;
    }

    .listGroup {
        overflow: hidden;

        .listGroupItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            background-color: var(--clr-surface-a10);
            border: var(--bs-list-group-border-width) solid var(--clr-surface-tonal-a20);

            &:hover {
                background-color: var(--clr-surface-tonal-a20);
                transform: scale(1.05);
                transition: transform 0.1s ease-in-out;
            }
        }

        .keyboardItemSelect {
            background-color: var(--clr-surface-tonal-a20);
            transform: scale(1.05);
            transition: transform 0.1s ease-in-out;
        }
    }

}