:root {
    /** Dark theme primary colors */
    --clr-primary-a0: #f79df9;
    --clr-primary-a10: #f9a8fa;
    --clr-primary-a20: #fab4fb;
    --clr-primary-a30: #fbbffb;
    --clr-primary-a40: #fdcafc;
    --clr-primary-a50: #fdd4fd;
    --clr-primary-a60: #f9d3ff;

    /** Dark theme primary disabled/hint colors **/
    /* Use for less important metadata like 'Manga' or 'TV' tags */
    --clr-primary-hint-high: #b875ba;   /* A muted, darker magenta */
    --clr-primary-hint-mid:  #8a588c;   /* Subtle, clearly secondary */
    --clr-primary-hint-low:  #5c3b5d;   /* Very deep; barely there against dark backgrounds */

    /** Specific 'Disabled' state (Flat/Greyed) **/
    --clr-primary-disabled:  #7a6b7a;   /* Desaturated mauve */

    /** Dark theme surface colors */
    --clr-surface-a0: #070718;
    --clr-surface-a10: #21212d;
    --clr-surface-a20: #383843;
    --clr-surface-a30: #51515b;
    --clr-surface-a40: #6c6c74;
    --clr-surface-a50: #87878e;

    /** Dark theme tonal surface colors */
    --clr-surface-tonal-a0: #1e182a;
    --clr-surface-tonal-a10: #332d3e;
    --clr-surface-tonal-a20: #494454;
    --clr-surface-tonal-a30: #615c6a;
    --clr-surface-tonal-a40: #797581;
    --clr-surface-tonal-a50: #938f99;

    /** Examples */
    .bg-primary {
        color: var(--clr-primary-a50);
        background-color: var(--clr-surface-a0);
    }

    h1 {
        color: var(--clr-primary-a50);
        text-align: center;
    }

    label,
    p {
        color: var(--clr-primary-a50);
    }

    .card {
        box-shadow: 0 0.2em rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: var(--clr-surface-a10);

        &:hover {
            transform: scale(1.05);
            transition: transform 0.1s ease-in-out;
            background-color: var(--clr-surface-tonal-a10);
            
            p, .card-title { 
                color: var(--clr-primary-a30)
            }
        }

        .card-title {
            font-weight: bold;
            color: var(--clr-primary-a50);
        }
    }
}